#login {
  width: 300px;
  height: 300px;
  padding: 15px;
  border: 2px solid #9090943d;
  border-radius: 10px;
  color: black;
  display: none;
  background-color: rgba(222, 135, 135, 0.61);
  position: absolute;
  margin-top: 370px;
  margin-left: 850px;
}
#login:target {
  display: flex;
  flex-direction: column;
}
.entry-h3 {
  text-align: center;
  font-family: monospace;
  font-size: 25px;
  color: rgb(252, 253, 253);
}
.login-input {
  width: 270px;
  height: 25px;
  border-radius: 5px;
  outline: none;
  border: 0;
  padding-left: 5px;
  margin-top: 25px;
}
.password-input {
  width: 270px;
  height: 25px;
  border-radius: 5px;
  outline: none;
  border: 0;
  padding-left: 5px;
  margin-top: 15px;
}
.entry-btn {
  margin-top: 25px;
  margin-left: 75px;
  width: 120px;
  height: 30px;
  background-color: rgb(240, 66, 66);
  color: white;
  outline: none;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.entry-btn:hover {
  background-color: rgba(240, 66, 66, 0.74);
}
.forgot-pswrd {
  color: rgb(114, 99, 99);
  text-decoration: none;
  font-size: 15px;
  font-family: monospace;
  width: 116px;
  margin-left: 77px;
  margin-top: 45px;
}
.forgot-pswrd:hover {
  text-decoration: underline;
}
.regist-btn {
  width: 200px;
  height: 25px;
  color: white;
  background-color: rgb(65, 185, 185);
  outline: none;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 35px;
  margin-top: 5px;
}
.regist-btn:hover {
  background-color: rgba(65, 185, 185, 0.671);
}
.close {
  text-decoration: none;
  color: grey;
  position: absolute;
  margin-left: 200px;
}
.close:hover {
  color: rgba(128, 128, 128, 0.719);
}
