*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: #E5E5E5;
}

.container-main{
width: 1050px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}
.wrapper-main{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 25px;
    background-color: #fff;
 
}
.main-txt h1 {
    font-size: 36px;
    margin-bottom: 28px;
}   
.main-pg{
    width: 990px;
}
.main-sections{
    display: flex;
    justify-content: space-between
}
.box{
    height: 350px;
    width: 200px;
    box-shadow: -2px 7px 28px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: -2px 7px 28px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: -2px 7px 28px 6px rgba(0,0,0,0.23);
    text-align: center;
    padding: 15px;
    margin-bottom: 40px;
}
.item-box{
    width: 170px;
    height: 156px;
    border: 1px solid rgba(0,0,0,0.23);
}
.txt-box{
    text-align: center;
    font-size: 14px;
}
.name-product {
  margin-top: 13px;
}
.price-product {
    margin-top: 13px;
  
}
.item-box img{
    width: 145px;
    height: 154px;
}
.review-box{
    padding-bottom: 8px;
    text-align: center;
    margin-top: 16px;
}
.buttons-box{
    font-size: 14px;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}
.buy-btn{
    width: 75px;
    height: 35px;
    background-color: #07A821;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
    
    
}
.buy-btn:hover {
    background-color: #07a8229d;   
}


