*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: #E5E5E5;
}

.container{
    width: 1240px;
    height: 515px;
    margin: 0 auto;
    background-color: #fff;
}
.wrapper{
    padding: 25px 0 0 32px;
}
main{
    margin-top: 25px;
    width: 1180px;
}
.main-sections{
    display: flex;
    justify-content: space-between
}
.box{
    width: 250px;
    box-shadow: -2px 7px 28px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: -2px 7px 28px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: -2px 7px 28px 6px rgba(0,0,0,0.23);
    text-align: center;
    padding: 15px;
}
.item-box{
    width: 220px;
    height: 156px;
    border: 1px solid rgba(0,0,0,0.23);
}
.txt-box{
    width: 220px;
    text-align: center;
}
.item-box img{
    width: 145px;
    height: 154px;
}
.review-box{
    padding-bottom: 8px;
    width: 220px;
    text-align: center;
}
.buttons-box{
    width: 220px;
    display: flex;
    justify-content: space-around;
}
.basked-btn{
    width: 91px;
    height: 40px;
    background-color: #034AFF;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
}
.basked-btn:hover {
    transform: scale(0.9);
}
.buy-btn{
    width: 91px;
    height: 40px;
    background-color: #07A821;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
    
}
.buy-btn:hover {
    transform: scale(0.9);
}